* {
  margin: 0;
}
nav {
  height: 70px;
  background-color: green;
}
.container {
  display: flex;
  height: calc(100vh - 70px);
}
.container .main-body {
  width: 100%;
}
.container aside {
  width: 0;
  overflow-y: auto;
  transition: all 0.5s;
}
.container aside.expanding {
  width: 250px;
}
.custom-chart {
  width: 75%;
}
