<div class="center-it">
  <h1>Login</h1>

  <form [formGroup]="userForm">
    <div class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        formControlName="userName"
        #username
      />
      <label for="float-input">Username</label>
      <small
        id="username-error"
        class="p-error"
        *ngIf="
          userForm.controls['userName'].invalid &&
          userForm.controls['userName'].dirty
        "
        >Username is empty.</small
      >
    </div>

    <div class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        formControlName="password"
        #username
      />
      <label for="float-input">Password</label>
      <small
        id="password-error"
        class="p-error"
        *ngIf="
          userForm.controls['password'].invalid &&
          userForm.controls['password'].dirty
        "
        >Password is empty.</small
      >
    </div>
  </form>

  <button pButton type="button" label="Login" (click)="goToLogin()"></button>
</div>

<p-toast position="center"></p-toast>
